.image-preview-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.image-preview-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.remove-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  z-index: 10;
}

.remove-btn:hover {
  opacity: 1;
  transform: scale(1.1);
}

.card {
  border: none;
  border-radius: 15px;
}